@model IEnumerable<ProjectFClean.Models.Transaction>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transaction_Money_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account1.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transaction_Money_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account1.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransId })
        </td>
    </tr>
}

</table>
