
@model ProjectFClean.Models.Renter
@{
    ViewData["Title"] = "Account settings - Account";
}
<head>
    <meta charset="utf-8">
    <title>JobEntry - Job Portal Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>


@* ************** Content ************** *@
<div class="container-xxl bg-white p-0">

    <!-- Spinner End -->
    <!-- Navbar Start -->
    @{var account = Session["Account"] as ProjectFClean.Models.Account;}

    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="index.html" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
            <h1 class="m-0 text-primary">FClean</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="~/Home" class="nav-item nav-link active"><i class="fa-solid fa-house"></i></a>

                <div class="nav-item dropdown">
                    <a href="~/Post" class="nav-link "><i class="fa-solid fa-list-check"></i></a>

                </div>

                <a href="~/Contact" class="nav-item nav-link"><i class="fa-solid fa-phone"></i></a>
            </div>
            @{
                if (account == null)
                {
                    <a href="~/Home/Login" class="nav-item nav-link"><i class="fa-solid fa-sign-in-alt"></i>Login</a>
                    <a href="~/Accounts/RegisterRenter" class="nav-item nav-link"><i class="fa-solid fa-user-plus"></i>Register</a>
                }
            }

            @{
                if (account != null)
                {
                    <a style="color: #00B074; padding-right: 10px" href="#"> @account.Name</a>

                    <form id="logoutForm" action="@Url.Action("Logout", "Home")" method="post">
                        <button type="submit" class="nav-item nav-link" id="logoutBtn">Logout</button>
                    </form>
                }
            }


    </nav>


    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Profile Details / @account.Name</h5>
                <!-- Account -->
                <div class="card-body">
                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img src="https://scontent.fdad1-3.fna.fbcdn.net/v/t39.30808-1/430874148_1386109988680272_6545737548305383661_n.jpg?stp=dst-jpg_p200x200&_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeE_vGXbZKt5sflWM6z-tWc04Xj2Vewvfh3hePZV7C9-HeCKPq0VS6TDBlxHcoYmcXXXDXw5xV-8yUwplm2CGSEQ&_nc_ohc=CAwI_Dy0mmoAX8QeiXF&_nc_ht=scontent.fdad1-3.fna&oh=00_AfC8kAQyEYZ6utTiWpk4SE1RR9QIVWdE8A73g_TC-oGdnQ&oe=660F3650" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar" />
                        <div class="button-wrapper">

                            <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                <span class="d-none d-sm-block">Upload new photo</span>
                                <i class="bx bx-upload d-block d-sm-none"></i>
                                <input type="file" id="upload" class="account-file-input" hidden accept="image/png, image/jpeg" />
                            </label>
                            <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                                <i class="bx bx-reset d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Reset</span>
                            </button>

                            <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                        </div>
                    </div>
                </div>
                <hr class="my-0">
                <div class="card">
                    <h5 class="card-header">Account Setting</h5>
                    <div class="card-body">
                        <div class="card-body">

                            <form action="@Url.Action("UpdateProfile", "Renters")" method="post">
                                <input type="hidden" id="Id" value="@account.AccountID" name="Id" />
                                <div class="row">


                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="mb-3 col-md-6">
                                        @Html.LabelFor(model => account.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div>
                                            <input type="text" id="Name" name="Name" value="@account.Name" class="form-control" required />
                                            @Html.ValidationMessageFor(model => account.Name, "", new { @class = "text-danger" })
                                        </div>

                                    </div>

                                    <div class="mb-3 col-md-6">
                                        @Html.LabelFor(model => account.Role, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div>
                                            @Html.EditorFor(model => account.Role, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        </div>

                                    </div>


                                    <div class="mb-3 col-md-6">
                                        @Html.LabelFor(model => account.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="">
                                            <input type="text" id="Email" name="Email" value="@account.Email" class="form-control" />
                                            @Html.ValidationMessageFor(model => account.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="mb-3 col-md-6">
                                        @Html.LabelFor(model => account.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="">
                                            <div class="input-group">
                                                <span class="input-group-text">+84</span>
                                                <input type="text" id="Phone" name="Phone" value="@account.Phone" class="form-control" pattern="\[0-9]{9}" title="Please enter a valid phone number code +84 and 10 digits." />
                                            </div>
                                            @Html.ValidationMessageFor(model => account.Phone, "", new { @class = "text-danger" })
                                        </div>
                                    </div>





                                </div>



                        </div>

                    </div>
                </div>


                <input type="hidden" id="RId" value="@Model.RID" name="Id" />
                <div class="row form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                    <div class="mb-3 col-md-6 form-group">
                        <label for="Address" value="@Model.Address" class="control-label col-md-2">Address</label>
                        <div>
                            <select id="Address" name="Address" class="form-control">
                                <option value="">Select Province</option>
                                <option value="An Giang" @(Model != null && Model.Address == "An Giang" ? "selected" : "")>An Giang</option>
                                <option value="Bà Rịa - Vũng Tàu" @(Model != null && Model.Address == "Bà Rịa - Vũng Tàu" ? "selected" : "")>Bà Rịa - Vũng Tàu</option>
                                <option value="Bắc Giang" @(Model != null && Model.Address == "Bắc Giang" ? "selected" : "")>Bắc Giang</option>
                                <option value="Bắc Kạn" @(Model != null && Model.Address == "Bắc Kạn" ? "selected" : "")>Bắc Kạn</option>
                                <option value="Bạc Liêu" @(Model != null && Model.Address == "Bạc Liêu" ? "selected" : "")>Bạc Liêu</option>
                                <option value="Bắc Ninh" @(Model != null && Model.Address == "Bắc Ninh" ? "selected" : "")>Bắc Ninh</option>
                                <option value="Bến Tre" @(Model != null && Model.Address == "Bến Tre" ? "selected" : "")>Bến Tre</option>
                                <option value="Bình Định" @(Model != null && Model.Address == "Bình Định" ? "selected" : "")>Bình Định</option>
                                <option value="Bình Dương" @(Model != null && Model.Address == "Bình Dương" ? "selected" : "")>Bình Dương</option>
                                <option value="Bình Phước" @(Model != null && Model.Address == "Bình Phước" ? "selected" : "")>Bình Phước</option>
                                <option value="Bình Thuận" @(Model != null && Model.Address == "Bình Thuận" ? "selected" : "")>Bình Thuận</option>
                                <option value="Cà Mau" @(Model != null && Model.Address == "Cà Mau" ? "selected" : "")>Cà Mau</option>
                                <option value="Cần Thơ" @(Model != null && Model.Address == "Cần Thơ" ? "selected" : "")>Cần Thơ</option>
                                <option value="Cao Bằng" @(Model != null && Model.Address == "Cao Bằng" ? "selected" : "")>Cao Bằng</option>
                                <option value="Đà Nẵng" @(Model != null && Model.Address == "Đà Nẵng" ? "selected" : "")>Đà Nẵng</option>
                                <option value="Đắk Lắk" @(Model != null && Model.Address == "Đắk Lắk" ? "selected" : "")>Đắk Lắk</option>
                                <option value="Đắk Nông" @(Model != null && Model.Address == "Đắk Nông" ? "selected" : "")>Đắk Nông</option>
                                <option value="Điện Biên" @(Model != null && Model.Address == "Điện Biên" ? "selected" : "")>Điện Biên</option>
                                <option value="Đồng Nai" @(Model != null && Model.Address == "Đồng Nai" ? "selected" : "")>Đồng Nai</option>
                                <option value="Đồng Tháp" @(Model != null && Model.Address == "Đồng Tháp" ? "selected" : "")>Đồng Tháp</option>
                                <option value="Gia Lai" @(Model != null && Model.Address == "Gia Lai" ? "selected" : "")>Gia Lai</option>
                                <option value="Hà Giang" @(Model != null && Model.Address == "Hà Giang" ? "selected" : "")>Hà Giang</option>
                                <option value="Hà Nam" @(Model != null && Model.Address == "Hà Nam" ? "selected" : "")>Hà Nam</option>
                                <option value="Hà Nội" @(Model != null && Model.Address == "Hà Nội" ? "selected" : "")>Hà Nội</option>
                                <option value="Hà Tĩnh" @(Model != null && Model.Address == "Hà Tĩnh" ? "selected" : "")>Hà Tĩnh</option>
                                <option value="Hải Dương" @(Model != null && Model.Address == "Hải Dương" ? "selected" : "")>Hải Dương</option>
                                <option value="Hải Phòng" @(Model != null && Model.Address == "Hải Phòng" ? "selected" : "")>Hải Phòng</option>
                                <option value="Hậu Giang" @(Model != null && Model.Address == "Hậu Giang" ? "selected" : "")>Hậu Giang</option>
                                <option value="Hòa Bình" @(Model != null && Model.Address == "Hòa Bình" ? "selected" : "")>Hòa Bình</option>
                                <option value="Hưng Yên" @(Model != null && Model.Address == "Hưng Yên" ? "selected" : "")>Hưng Yên</option>
                                <option value="Khánh Hòa" @(Model != null && Model.Address == "Khánh Hòa" ? "selected" : "")>Khánh Hòa</option>
                                <option value="Kiên Giang" @(Model != null && Model.Address == "Kiên Giang" ? "selected" : "")>Kiên Giang</option>
                                <option value="Kon Tum" @(Model != null && Model.Address == "Kon Tum" ? "selected" : "")>Kon Tum</option>
                                <option value="Lai Châu" @(Model != null && Model.Address == "Lai Châu" ? "selected" : "")>Lai Châu</option>
                                <option value="Lâm Đồng" @(Model != null && Model.Address == "Lâm Đồng" ? "selected" : "")>Lâm Đồng</option>
                                <option value="Lạng Sơn" @(Model != null && Model.Address == "Lạng Sơn" ? "selected" : "")>Lạng Sơn</option>
                                <option value="Lào Cai" @(Model != null && Model.Address == "Lào Cai" ? "selected" : "")>Lào Cai</option>
                                <option value="Long An" @(Model != null && Model.Address == "Long An" ? "selected" : "")>Long An</option>
                                <option value="Nam Định" @(Model != null && Model.Address == "Nam Định" ? "selected" : "")>Nam Định</option>
                                <option value="Nghệ An" @(Model != null && Model.Address == "Nghệ An" ? "selected" : "")>Nghệ An</option>
                                <option value="Ninh Bình" @(Model != null && Model.Address == "Ninh Bình" ? "selected" : "")>Ninh Bình</option>
                                <option value="Ninh Thuận" @(Model != null && Model.Address == "Ninh Thuận" ? "selected" : "")>Ninh Thuận</option>
                                <option value="Phú Thọ" @(Model != null && Model.Address == "Phú Thọ" ? "selected" : "")>Phú Thọ</option>
                                <option value="Phú Yên" @(Model != null && Model.Address == "Phú Yên" ? "selected" : "")>Phú Yên</option>
                                <option value="Quảng Bình" @(Model != null && Model.Address == "Quảng Bình" ? "selected" : "")>Quảng Bình</option>
                                <option value="Quảng Nam" @(Model != null && Model.Address == "Quảng Nam" ? "selected" : "")>Quảng Nam</option>
                                <option value="Quảng Ngãi" @(Model != null && Model.Address == "Quảng Ngãi" ? "selected" : "")>Quảng Ngãi</option>
                                <option value="Quảng Ninh" @(Model != null && Model.Address == "Quảng Ninh" ? "selected" : "")>Quảng Ninh</option>
                                <option value="Quảng Trị" @(Model != null && Model.Address == "Quảng Trị" ? "selected" : "")>Quảng Trị</option>
                                <option value="Sóc Trăng" @(Model != null && Model.Address == "Sóc Trăng" ? "selected" : "")>Sóc Trăng</option>
                                <option value="Sơn La" @(Model != null && Model.Address == "Sơn La" ? "selected" : "")>Sơn La</option>
                                <option value="Tây Ninh" @(Model != null && Model.Address == "Tây Ninh" ? "selected" : "")>Tây Ninh</option>
                                <option value="Thái Bình" @(Model != null && Model.Address == "Thái Bình" ? "selected" : "")>Thái Bình</option>
                                <option value="Thái Nguyên" @(Model != null && Model.Address == "Thái Nguyên" ? "selected" : "")>Thái Nguyên</option>
                                <option value="Thanh Hóa" @(Model != null && Model.Address == "Thanh Hóa" ? "selected" : "")>Thanh Hóa</option>
                                <option value="Thừa Thiên Huế" @(Model != null && Model.Address == "Thừa Thiên Huế" ? "selected" : "")>Thừa Thiên Huế</option>
                                <option value="Tiền Giang" @(Model != null && Model.Address == "Tiền Giang" ? "selected" : "")>Tiền Giang</option>
                                <option value="TP Hồ Chí Minh" @(Model != null && Model.Address == "TP Hồ Chí Minh" ? "selected" : "")>TP Hồ Chí Minh</option>
                                <option value="Trà Vinh" @(Model != null && Model.Address == "Trà Vinh" ? "selected" : "")>Trà Vinh</option>
                                <option value="Tuyên Quang" @(Model != null && Model.Address == "Tuyên Quang" ? "selected" : "")>Tuyên Quang</option>
                                <option value="Vĩnh Long" @(Model != null && Model.Address == "Vĩnh Long" ? "selected" : "")>Vĩnh Long</option>
                                <option value="Vĩnh Phúc" @(Model != null && Model.Address == "Vĩnh Phúc" ? "selected" : "")>Vĩnh Phúc</option>
                                <option value="Yên Bái" @(Model != null && Model.Address == "Yên Bái" ? "selected" : "")>Yên Bái</option>
                            </select>
                            @Html.ValidationMessageFor(model => Model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="mt-2">
                        <button type="submit" value="UpdateProfile" class="btn btn-primary me-2">Save changes</button>
                        <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                    </div>

                </div>
                </form>



            </div>
            <!-- /Account -->
        </div>
        <div class="card">
            <h5 class="card-header">Delete Account</h5>
            <div class="card-body">
                <div class="mb-3 col-12 mb-0">
                    <div class="alert alert-warning">
                        <h6 class="alert-heading mb-1">Are you sure you want to delete your account?</h6>
                        <p class="mb-0">Once you delete your account, there is no going back. Please be certain.</p>
                    </div>
                </div>
                <form id="formAccountDeactivation" onsubmit="return false">
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" name="accountActivation" id="accountActivation" />
                        <label class="form-check-label" for="accountActivation">I confirm my account deactivation</label>
                    </div>
                    <button type="submit" class="btn btn-danger deactivate-account">Deactivate Account</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

